@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
* {
  box-sizing: border-box;
  font-family: inherit;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: #fefefe;
  background-color: #F2F5FA !important;
  min-height: 100vh;
}

.wrapper {
  margin: 0 auto;
  border: 1px solid black;
  min-height: 100vh;
}

.container-fluid {
  --bs-gutter-x: 0rem !important;
}
.page-name {

}
.page-subtitle {

}
.border-right {
  &::after {
    border: 1px solid #EAEEF9;
    content: "";
    height: 60%;
    position: absolute;
    top: 29%;
    right: 50%;
  }
}
.header {
  position: relative;
  margin-top: 3em !important;
  margin-bottom: 5em !important;
  .logo {
    font-family: 'Inter', sans-serif;
    img {
      width: 6rem;
    }
    .iso {
      margin-left: 1em;
      display: inline-block;
      vertical-align: middle;
      h5 {
        color: #414C69;
        font-weight: 700;
        margin-bottom: 0;
        text-transform: uppercase;
        letter-spacing: 0.105em;
        &:last-of-type {
          margin-bottom: .7em;
        }
      }
      h6 {
        color: #C4C4C4;
        margin-top: 5px;
        letter-spacing: 0.225em;
        font-size: 0.8rem;
        line-height: 0;
        font-weight: 400;
      }
    }
  }
  .user-login {
    .user {
      float: right;
      background-color: #A7D6EA;
      font-family: 'Inter', sans-serif;
      font-weight: 600;
      font-size: 1.2rem;
      color: white;
      border-radius: 50%;
      padding: 1em;
    }
  }
}

.button-lg {
  background-color: #FEFFFF;
  margin: 1em .5em;
  border-radius: 1em;

  padding: 1em;
  font-family: 'Inter', sans-serif;
  box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.04);
  min-height: 16rem;
  .content {
    margin-left: .6em;
    margin-top: .6em;
    padding-right: 1em !important;
    word-wrap: break-word;
    i {
      background-color: #FAB2BC;
      padding: 1em;
      border-radius: 50%;
      color: #E81F3C;
    }
    p {
      font-weight: 700;
      margin-top: 1.5em;
      line-height: 25px;
      letter-spacing: 0.165em;
      font-size: 1rem;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        margin-bottom: .6em;
        font-weight: 500;
        font-size: .9rem;
        line-height: 25px;
        &:last-of-type {
          margin-bottom: 2em;
        }
      }
    }
  }
}

.left-wrapper, .right-wrapper {
  color: #414C69;
  font-family: 'Inter', sans-serif;
  h5 {
    margin-left: 1em;
    font-weight: 600;
  }
}
.accesos-rapidos {
  margin-top: 2em !important;
  p {
    font-weight:600;
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin-bottom: .2rem !important;
    font-size: 1em;
    &:first-of-type {
      margin-top: 1em;
    }
  }
  .button-sll {
    color: white;
    border-radius: 50%;
    text-align: center;
    width: 6rem;
    height: 6rem;
    line-height: 6rem;
    margin: 0 auto;
    &.gr {
      background-color: #02CE99;
    }
    &.bl {
      background-color: #336CFB;
    }
    &.cy {
      background-color: #02CECE;
    }
    i {
      font-size: 2.6rem;
      line-height: 6rem;
    }
  }
}

.novedades {
  margin-top: 3em !important;
  .noticia, mini-noticia {
    position: relative;
  }
  .noticia-lg {
    width: 100%;
    height: 16rem;
    box-shadow: inset 0px 145px 80px 0 rgba(0, 0, 0, 0.48);
    margin: 5% auto 0 auto;
    background-size: cover;
    border-radius: 1em;
    overflow: hidden;
    position: absolute;
  }
  .mini-noticia {
    display: flex;
    flex-direction: column;
    margin-top: 1.3em;
    --bs-gutter-x: .5rem !important;
    padding-left: 0em !important;
    margin-left: 0em !important;
    .mini {
      &:first-of-type {
        margin-bottom: .5em;
      }
     }
  }
  .noticia-sm {
    width: 18rem;
    box-shadow: inset 0px 145px 80px 0 rgba(0, 0, 0, 0.48);
    margin: 0 auto;
    background-size: cover;
    border-radius: 1em;
    overflow: hidden;
    position: relative;
    max-width: 18rem;
    max-height: 7.7rem;
  }
  .info-noticia {
    position: absolute;
    float: left;
    text-align: right;
    top: 6em;
    right: 2em;
    .titulo {
      color: #fff;
    }
    .texto {
      color: #fff;
      font-size: 16px;
    }
    .btn {
      background-color: #D7E0FF;
      color: #5D6B73;
      border-radius: 3px;
      font-family: 'Inter';
      font-weight: 700;
      font-size: .8rem;
      line-height: 1.4rem;
      min-width: 8rem;
     }
    }
}

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: #f4f4f4;
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
  .iconos {
    padding-top: 1rem;
    a {
      text-decoration: none;
      font-size: 1rem;
      margin: 0.5rem;
      color: #E81F3C;
      background-color: #FAB2BC;
      text-align: center;
      align-content: center;
      padding: .8em .8em .8em .8em;
      border-radius: 61%;
      display: inline-block;
      line-height: 1em;
  }
  }
}


form {
  margin: 0 auto;
  overflow: auto;
  margin-bottom: 2rem;
  .form-group {
    position: relative;
  }
  .before-icon{
    &::before {
      content: "";
      display: block;
      background: url("img/layout_set_logo.png") no-repeat;
      width: 4px;
      height: 4px;
      float: left;
      margin: 0 6px 0 0;
    }
  }
  input {
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    background: #fefefe;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 0 12px 0 12px;
    background: #eef2f9;
    color: #224377;
    border: 1px solid #eef2f9;
    height: 48px;
    margin-top: 0px;
    padding-left: 2.5em;
    padding-top: 16px;
    padding-bottom: 16px;
    transition: all 0.2s ease-in;
    option {
      color: #6c757d;
      opacity: 1;
    }
    &:focus {
      outline: none;
    }
    & ::placeholder {
      color: #6c757d;
      opacity: 1;
    }
  }
  select {
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    background: #fefefe;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 0 12px 0 12px;
    background: #eef2f9;
    color: rgba(34, 67, 119, .85);
    border: 1px solid #eef2f9;
    height: 48px;
    margin-top: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 14px;
    transition: all 0.2s ease-in;
    option {
      &.placeholder {
        opacity: .85;
      }
    }
    &.planta {
      &::before {
        content: "";
        display: block;
        background: url("img/layout_set_logo.png") no-repeat;
        width: 20px;
        height: 20px;
        float: left;
        margin: 0 6px 0 0;
      }
      padding-left: 2.3em;
    }
  }
  textarea {
    width: 100%;
    height: 5rem;
    font-size: 1rem;
    background: #fefefe;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 0 12px 0 12px;
    background: #eef2f9;
    color: rgba(34, 67, 119, .85);
    border: 1px solid #eef2f9;
    transition: all 0.2s ease-in;
    option {
      &.placeholder {
        opacity: .85;
      }
    }
  }
  .fa {
    color: rgba(34, 67, 119, 0.85);
    position: relative;
    transform: translate(.8em, 2.1em);
  }
  & > p {
    margin: 0.25rem 0 0;
    text-align: center;
    color: #1126be;
  }
  .form-label {
    position: relative;
    color: rgba(34, 67, 119, .85);
    z-index: 10;
    transition: all .2s linear;
    top: 33px;
    left: 17px;
    font-size: 16px;
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom: 2px;
  }
  .focused .form-label {
    font-size: 12px;
    top: 0;
    left:0px;
    &.icono{
      left:-1.2em;
    }
  }
  label {
    color: #224377;
    font-family: 'Source Sans Pro',sans-serif;
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom: 2px;
    transition: all .2s linear;
    display: unset;
  }
  div.checkbox.switcher, div.radio.switcher {
    float: right;
    margin-right: 1em;
    label {
      padding: 0;
      * {
        vertical-align: middle;
      }
      input {
        display: none;
        &+span {
          position: relative;
          display: block;
          width: 2.3em;
          height: 1.3em;
          background: #f2f2f2;
          border: 1px solid #eee;
          border-radius: 50px;
          transition: all 0.3s ease-in-out;
          transform: rotate(90deg);
          margin-top: 1em;
          small {
            position: absolute;
            display: block;
            width: 50%;
            height: 100%;
            background: #fff;
            border-radius: 50%;
            transition: all 0.3s ease-in-out;
            left: 0;
            &.top {

            }
            &.bottom{

            }
          }
        }
        &:checked+span {
          background: #5A7EBE;
          border-color: #5A7EBE;
          small {
            left: 50%;
          }
        }
      }
    }
  }
}

.opposite-btn1,
.opposite-btn2 {
  cursor: pointer;
}


.boton-principal {
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  color: #fefefe;
  background: #2B59A7;
  border: none;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  min-height: 3rem;
  padding: 8px 72px 8px 32px;
  border-radius: 2rem;
  text-decoration: none;
  &:hover{
    .boton-flecha {
      width: 100%;
      border-radius: 48px;
    }
    p {
      color: white;
      margin-top: .5em;
      margin-bottom: .5em;
    }
    cursor: pointer;
  }
  p {
    text-align: center;
    color: #fefefe;
    z-index: 10;
    margin-top: .5em;
    margin-bottom: .5em;
  }
  & :focus {
    outline: none;
  }
  .boton-flecha {
    position: absolute;
    right: 0;
    height: 100%;
    width: 4rem;
    border-radius: 0 48px 48px 48px;
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in;
    z-index: 0;
    background: #214070;
    .icono-flecha-derecha {
      border-top: solid 2px #ffffff;
      border-right: solid 2px #ffffff;
      width: 8px;
      height: 8px;
      transform: rotate(45deg);
      position: absolute;
      right: 26px;
    }
  }
}

.bajada {
  height: 4rem;
  p.epigrafe {
    color: #d7d7d7;
    opacity: 1;
    text-align: center;
    margin: 1em 2em 2em 3em;
    font-family: "Source Sans Pro", sans-serif;
    &:before {
      width: 50%;
      content: "";
      display: block;
      width: 14rem;
      height: 2px;
      background: #eaeaea;
      left: 0;
      bottom: 2rem;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.botones-rapidos {
  .row {
    margin-bottom:1.2rem;
    .col-6 {
      padding-right: .3em;
      padding-left: .3em;
      .boton-cuadro {
        min-height: 12rem;
        padding-left: 1.2em;
        padding-right: 1.2em;
        padding-top: 1.2em;
        padding-bottom: 1.2em;
        word-break: break-word;
        display: inline-block;
        color: white;
        white-space:normal !important;
        font-size: 1.1em;
        font-weight: 600;
        .fa {
          color:white;
          display: block;
          font-size: 2.5rem;
          margin-top: 1.5rem;
          margin-bottom: .5rem;
        }
        &.am {
          background-color:#FFE45E;
        }
        &.vr {
          background-color:#4db99c;
        }
        &.az {
          background-color:#ffa400;
        }
        &.rd {
          background-color:#dc3545;
        }
        &.bl {
          background-color:#5A7EBE;
        }
        p {
          margin-top: 1rem;
          margin-bottom: 1rem;
        }
        &:hover {
          background-color:#5A7EBE;
          color: white;
        }
      }
    }
    .col-4 {
      padding-right: .3em;
      padding-left: .3em;
      .boton-cuadro {
        word-break: break-word;
        display: inline-block;
        color: white;
        white-space:normal !important;
        background-color:#2B59A7;
        min-height: 6em;
        font-size: .9em;
        p {
          margin-top: 1rem;
          margin-bottom: 1rem;
        }
        &:hover {
          background-color:inherit;
          border: 1px solid #2B59A7;
          color: #2B59A7;
        }
      }
    }
  }
}



#footer {
  height: 4em;
}



.symbols {
  text-align: center;
  margin-top: 2em;
  color: #707070;
  background-color:rgba(0,0,0,.075);
  padding: 1.2em .7em;
  border-radius: 0.5em;
  i.fa {
    margin-right: .4em;
    font-size: 1.3rem;
    vertical-align: middle;
    display: inline-block;
    border-radius: 50%;
    padding: 0.3em 0.3em;
    color: white;
    &.fa-clock-o {
      background-color: #5175b9;
      padding: 0.3em 0.35em;
    }
    &.fa-check {
      background-color:#4db99c;

    }
    &.fa-gear {
      background-color: #c53850;
      padding: 0.3em 0.35em;
    }
  }
  span {
    margin-right: 1.2em;
  }
}

/* .fa {
  color: rgba(34, 67, 119, 0.85);
  position: relative;
} */


