@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
* {
  box-sizing: border-box;
  font-family: inherit;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: #fefefe;
  background-color: #F2F5FA !important;
  min-height: 100vh;
}

.wrapper {
  margin: 0 auto;
}

.container-fluid.inicio{
  --bs-gutter-x: 0rem !important;
}
a {
  text-decoration: none !important;
}

.border-right {
  &::after {
    border: 1px solid #EAEEF9;
    content: "";
    height: 66%;
    position: absolute;
    top: 18%;
    right: 49%;
  }
}


.header {
  position: relative;
  margin-bottom: 4em;
  .navbar {
    padding-top: 3em;
    padding-left: 2.5em;
    .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
      padding-right: 1em;
    }
  }
  &.inicio {
    margin-bottom: 3.5em !important;
    .logo {
      margin-left: 1em;
    }
  }
  .logo {
    font-family: 'Inter', sans-serif;
    img {
      width: 6rem;
    }
    .iso {
      vertical-align: middle;
      display: inline-flex;
      flex-direction: column;
      h5 {
        color: #414C69;
        font-weight: 700;
        margin-bottom: 0;
        text-transform: uppercase;
        letter-spacing: 0.105em;
      }
      h6 {
        color: #C4C4C4;
        margin-top: 5px;
        letter-spacing: 0.225em;
        font-size: 0.8rem;
        line-height: 1.3em;
        font-weight: 400;
      }
    }
  }
    .user {
      float: right;
      background-color: #A7D6EA;
      font-family: 'Inter', sans-serif;
      font-weight: 600;
      font-size: 1.2rem;
      color: white;
      border-radius: 50%;
      padding: 1em;
      text-decoration: none;
      .dropdown-menu[data-bs-popper] {
        left: -7em;
        }
    }
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}
.button-lg {
  flex: 1 0 12em;
  background-color: #FEFFFF;
  margin: 1em .5em;
  border-radius: 1em;
  padding: 1em;
  font-family: 'Inter', sans-serif;
  box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.04);
  min-height: 16rem;
  text-decoration: none;
  .content {
    margin-left: .6em;
    margin-top: .6em;
    padding-right: 1em !important;
    margin-bottom: 2rem;
    word-wrap: break-word;
    i {
      background-color: #FAB2BC;
      padding: 1em;
      border-radius: 50%;
      color: #E81F3C;
    }
    a {
      text-decoration: none;
      p {
        font-weight: 700;
        margin-top: 1.5em;
        line-height: 25px;
        letter-spacing: 0.165em;
        font-size: 1rem;
        color: #2F2F2F;
      }
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      a {
        text-decoration: none;
        li {
          margin-bottom: .4em;
          font-weight: 500;
          font-size: .9rem;
          line-height: 25px;
          color: #676767;
          &:hover {
            color: #E81F3C;
          }
        }
        &:last-of-type {
          margin-bottom: 3rem;
        }
      }
    }
  }
}

.left-wrapper, .right-wrapper {
  color: #414C69;
  font-family: 'Inter', sans-serif;
  h5 {
    margin-left: 1em;
    font-weight: 600;
    letter-spacing: 0.165em;
  }
}
.accesos-rapidos {
  margin-top: 2em !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  .item {
    flex: .2 0 7em;
    margin-right: 1em;
    margin-bottom: 1em;
    a {
      p {
        font-weight:600;
        font-family: 'Inter', sans-serif;
        text-align: center;
        margin-bottom: .2rem !important;
        font-size: 1em;
        color: #2F2F2F;
        &:first-of-type {
          margin-top: 1em;
        }
      }
    }
    .button-sll {
      color: white;
      border-radius: 50%;
      text-align: center;
      width: 7rem;
      height: 7rem;
      margin: 0 auto;
      &.gr {
        background-color: #02CE99;
      }
      &.bl {
        background-color: #336CFB;
      }
      &.cy {
        background-color: #02CECE;
      }
      i {
        font-size: 2.6rem;
        line-height: 7rem;
      }
    }
  }

}

.news {
  margin-top: 3em;
}
.novedades {
  margin-top: 2em !important;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: .5em;
  max-width: 48em;
  margin-left: 1em;
.noticia {
  &.lg {
    position: relative;
    grid-row-start: span 3;
    max-width: 51em;
    max-height: 19em;
    overflow: hidden;
    img.noticia-lg {
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 1em;
      object-fit: cover;
      box-shadow: inset 0px 145px 80px 0 rgba(0, 0, 0, 0.48);
    }
    .info-noticia {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      text-align: right;
      background-color: rgba(242, 245, 250, 0.4);
      p, .btn {
        margin-right: 1em;
      }
      h2 {
        margin-top: 3.4em;
        margin-right: .5em;
      }
      .btn {
        background-color: #D7E0FF;
        color: #5D6B73;
        border-radius: 3px;
        font-family: 'Inter';
        font-weight: 700;
        font-size: .8rem;
        line-height: 1rem;
        min-width: 6rem;
       }
    }
  }
  &.mini {
    position: relative;
    max-height: 9.2em;
    overflow: hidden;
    img.noticia-sm {
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 1em;
      object-fit: cover;
      box-shadow: inset 0px 145px 80px 0 rgba(0, 0, 0, 0.48);
    }
    .info-noticia {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      text-align: right;
      background-color: rgba(242, 245, 250, 0.4);
      p, .btn {
        margin-right: 1em;
      }
      h4 {
        margin-top: 1em;
        margin-right: .8em;
      }
      .btn {
        background-color: #D7E0FF;
        color: #5D6B73;
        border-radius: 3px;
        font-family: 'Inter';
        font-weight: 700;
        font-size: .8rem;
        line-height: 1rem;
        min-width: 6rem;
       }
    }
  }
}
}

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: #f4f4f4;
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
  .iconos {
    padding-top: 1rem;
    a {
      text-decoration: none;
      font-size: 1rem;
      margin: 0.5rem;
      color: #E81F3C;
      background-color: #FAB2BC;
      text-align: center;
      align-content: center;
      padding: .8em .8em .8em .8em;
      border-radius: 61%;
      display: inline-block;
      line-height: 1em;
  }
  }
}


form {
  margin: 0 auto;
  overflow: auto;
  margin-bottom: 2rem;
  .form-group {
    position: relative;
  }
  .before-icon{
    &::before {
      content: "";
      display: block;
      background: url("img/layout_set_logo.png") no-repeat;
      width: 4px;
      height: 4px;
      float: left;
      margin: 0 6px 0 0;
    }
  }
  input {
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    background: #fefefe;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 0 12px 0 12px;
    background: #eef2f9;
    color: #224377;
    border: 1px solid #eef2f9;
    height: 48px;
    margin-top: 0px;
    padding-left: 2.5em;
    padding-top: 16px;
    padding-bottom: 16px;
    transition: all 0.2s ease-in;
    option {
      color: #6c757d;
      opacity: 1;
    }
    &:focus {
      outline: none;
    }
    & ::placeholder {
      color: #6c757d;
      opacity: 1;
    }
  }
  select {
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    background: #fefefe;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 0 12px 0 12px;
    background: #eef2f9;
    color: rgba(34, 67, 119, .85);
    border: 1px solid #eef2f9;
    height: 48px;
    margin-top: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 14px;
    transition: all 0.2s ease-in;
    option {
      &.placeholder {
        opacity: .85;
      }
    }
    &.planta {
      &::before {
        content: "";
        display: block;
        background: url("img/layout_set_logo.png") no-repeat;
        width: 20px;
        height: 20px;
        float: left;
        margin: 0 6px 0 0;
      }
      padding-left: 2.3em;
    }
  }
  textarea {
    width: 100%;
    height: 5rem;
    font-size: 1rem;
    background: #fefefe;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 0 12px 0 12px;
    background: #eef2f9;
    color: rgba(34, 67, 119, .85);
    border: 1px solid #eef2f9;
    transition: all 0.2s ease-in;
    option {
      &.placeholder {
        opacity: .85;
      }
    }
  }
  .fa {
    color: rgba(34, 67, 119, 0.85);
    position: relative;
    transform: translate(.8em, 2.1em);
  }
  & > p {
    margin: 0.25rem 0 0;
    text-align: center;
    color: #1126be;
  }
  .form-label {
    position: relative;
    color: rgba(34, 67, 119, .85);
    z-index: 10;
    transition: all .2s linear;
    top: 33px;
    left: 17px;
    font-size: 16px;
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom: 2px;
  }
  .focused .form-label {
    font-size: 12px;
    top: 0;
    left:0px;
    &.icono{
      left:-1.2em;
    }
  }
  label {
    color: #224377;
    font-family: 'Source Sans Pro',sans-serif;
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom: 2px;
    transition: all .2s linear;
    display: unset;
  }
  div.checkbox.switcher, div.radio.switcher {
    float: right;
    margin-right: 1em;
    label {
      padding: 0;
      * {
        vertical-align: middle;
      }
      input {
        display: none;
        &+span {
          position: relative;
          display: block;
          width: 2.3em;
          height: 1.3em;
          background: #f2f2f2;
          border: 1px solid #eee;
          border-radius: 50px;
          transition: all 0.3s ease-in-out;
          transform: rotate(90deg);
          margin-top: 1em;
          small {
            position: absolute;
            display: block;
            width: 50%;
            height: 100%;
            background: #fff;
            border-radius: 50%;
            transition: all 0.3s ease-in-out;
            left: 0;
            &.top {

            }
            &.bottom{

            }
          }
        }
        &:checked+span {
          background: #5A7EBE;
          border-color: #5A7EBE;
          small {
            left: 50%;
          }
        }
      }
    }
  }
}

.opposite-btn1,
.opposite-btn2 {
  cursor: pointer;
}


.boton-principal {
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  color: #fefefe;
  background: #2B59A7;
  border: none;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  min-height: 3rem;
  padding: 8px 72px 8px 32px;
  border-radius: 2rem;
  text-decoration: none;
  &:hover{
    .boton-flecha {
      width: 100%;
      border-radius: 48px;
    }
    p {
      color: white;
      margin-top: .5em;
      margin-bottom: .5em;
    }
    cursor: pointer;
  }
  p {
    text-align: center;
    color: #fefefe;
    z-index: 10;
    margin-top: .5em;
    margin-bottom: .5em;
  }
  & :focus {
    outline: none;
  }
  .boton-flecha {
    position: absolute;
    right: 0;
    height: 100%;
    width: 4rem;
    border-radius: 0 48px 48px 48px;
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in;
    z-index: 0;
    background: #214070;
    .icono-flecha-derecha {
      border-top: solid 2px #ffffff;
      border-right: solid 2px #ffffff;
      width: 8px;
      height: 8px;
      transform: rotate(45deg);
      position: absolute;
      right: 26px;
    }
  }
}

.bajada {
  height: 4rem;
  p.epigrafe {
    color: #d7d7d7;
    opacity: 1;
    text-align: center;
    margin: 1em 2em 2em 3em;
    font-family: "Source Sans Pro", sans-serif;
    &:before {
      width: 50%;
      content: "";
      display: block;
      width: 14rem;
      height: 2px;
      background: #eaeaea;
      left: 0;
      bottom: 2rem;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.botones-rapidos {
  .row {
    margin-bottom:1.2rem;
    .col-6 {
      padding-right: .3em;
      padding-left: .3em;
      .boton-cuadro {
        min-height: 12rem;
        padding-left: 1.2em;
        padding-right: 1.2em;
        padding-top: 1.2em;
        padding-bottom: 1.2em;
        word-break: break-word;
        display: inline-block;
        color: white;
        white-space:normal !important;
        font-size: 1.1em;
        font-weight: 600;
        .fa {
          color:white;
          display: block;
          font-size: 2.5rem;
          margin-top: 1.5rem;
          margin-bottom: .5rem;
        }
        &.am {
          background-color:#FFE45E;
        }
        &.vr {
          background-color:#4db99c;
        }
        &.az {
          background-color:#ffa400;
        }
        &.rd {
          background-color:#dc3545;
        }
        &.bl {
          background-color:#5A7EBE;
        }
        p {
          margin-top: 1rem;
          margin-bottom: 1rem;
        }
        &:hover {
          background-color:#5A7EBE;
          color: white;
        }
      }
    }
    .col-4 {
      padding-right: .3em;
      padding-left: .3em;
      .boton-cuadro {
        word-break: break-word;
        display: inline-block;
        color: white;
        white-space:normal !important;
        background-color:#2B59A7;
        min-height: 6em;
        font-size: .9em;
        p {
          margin-top: 1rem;
          margin-bottom: 1rem;
        }
        &:hover {
          background-color:inherit;
          border: 1px solid #2B59A7;
          color: #2B59A7;
        }
      }
    }
  }
}



#footer {
  height: 4em;
}



.symbols {
  text-align: center;
  margin-top: 2em;
  color: #707070;
  background-color:rgba(0,0,0,.075);
  padding: 1.2em .7em;
  border-radius: 0.5em;
  i.fa {
    margin-right: .4em;
    font-size: 1.3rem;
    vertical-align: middle;
    display: inline-block;
    border-radius: 50%;
    padding: 0.3em 0.3em;
    color: white;
    &.fa-clock-o {
      background-color: #5175b9;
      padding: 0.3em 0.35em;
    }
    &.fa-check {
      background-color:#4db99c;

    }
    &.fa-gear {
      background-color: #c53850;
      padding: 0.3em 0.35em;
    }
  }
  span {
    margin-right: 1.2em;
  }
}

/* .fa {
  color: rgba(34, 67, 119, 0.85);
  position: relative;
} */




/* MIGAS */
.breadcrumb {
  background-color: transparent;
  .breadcrumb-item + .breadcrumb-item::before {
    content: "\25b6";
    color: #C4C4C4;
    height: 1rem;
    width: 1rem;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
    font-size: 0.7rem;
    padding-top: 0.3rem;
  }
  .breadcrumb-item {
    a {
    text-decoration: none;
    color: #C4C4C4;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    }
    &.active {
      padding-left: 11px;
      color: #414C69;

      text-decoration: none;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      color: #414C69;
    }
  }
  li.breadcrumb-item.active::before {
    color: #414C69 !important;
    padding-top: 0px;
  }
}

/*SIDEBAR*/

.sidebar {
  width: 210px;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  display: inline-block;
  z-index: 0;
  color: #FFF;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #5B5B5B;
  width: 20em;
  max-width: 20em;
  height: 100%;
  float: left;
  display: flex;
  flex-direction: column !important;
  .logo {
    margin-bottom: 1.5em;
    padding-top: 1em;
    a {
      img {
        width: 5em;
      }
    }
  }
  .nav-sidebar {
    background: none;
    margin-bottom: 20px;
    margin-top: 1em;
    flex-direction: column !important;
    .nav-item {
      margin-bottom: 1em;
      .nav-link {
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
        color: white;
        opacity:1;
        span.fa {
          font-size: 20px;
          color: white;
        }
      }
      .submenu {
        list-style: none;
        padding-left: 4.2em;
        li {
          .sub-nav {
            opacity: 1;
            -moz-transition: all .7s ease-out;
            -o-transition: all .7s ease-out;
            -webkit-transition: all .7s ease-out;
            transition: all .7s ease-out;
            color: white;
            &:hover {
              color: #E81F3C;
              transition: all .1s ease-in;
            }
          }
        }
      }
    }
  }
  .nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
  }
  .navbar-brand {
    img {
      width: 3em;
    }
  }
  &.sidebar-collapsed {
    width: 9em;
    .nav-sidebar {
      margin: 1em auto !important;
      .nav-item {
        margin-right: auto !important;
        margin-left: auto !important;
        margin-bottom: .5em;
        .nav-link {
          .menu-item {
            opacity: 0;
            -moz-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
            display: none;
          }
        }
        .submenu {
          -moz-transition: all 6s ease-out;
          -o-transition: all 6s ease-out;
          -webkit-transition: all 6s ease-out;
          transition: all 6s ease-out;
          opacity: 0 !important;
          display: none;
          li {
            .sub-nav {
              opacity: 0 !important;
              -moz-transition: all 0.3s ease-out;
              -o-transition: all 0.3s ease-out;
              -webkit-transition: all 0.3s ease-out;
              transition: all 0.3s ease-out;
            }
          }
        }
      }
    }
    .collapse-sidebar-button {
      margin: 0em auto !important;
      position: relative;
      left: unset;
    }
  }
  .collapse-sidebar-button {
    padding-left: 4px;
    display: block;
    cursor: pointer;
    padding-right: 5px;
    float: left;
    position: relative;
    left: 15em;
  }

}

.menu-item {
  opacity: 1;
  -moz-transition: all 0.6s 0.2s ease-out;
  -o-transition: all 0.6s 0.2s ease-out;
  -webkit-transition: all 0.6s 0.2s ease-out;
  transition: all 0.6s 0.2s ease-out;
  color: white;
  font-weight: 600;
  margin-left: 1em;
}

#toggle-icon {
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  &.rotate {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
  }
}

.main {
  margin-left: 20em;
  -moz-transition: all 0.55s ease-out;
  -o-transition: all 0.55s ease-out;
  -webkit-transition: all 0.55s ease-out;
  transition: all 0.55s ease-out;
  padding-right: 1em;
  padding-left: 1em;
  &.main-slide {
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    margin-left: 9em;
  }
}

/* TABLA FACTURAS EMITIDAS*/

.tabla_facturas {
  font-size: 12px;
  padding-left: 3em;
  .container-fluid {
    display: flex;
    flex-wrap: wrap;
    .buscador {
      flex: 1 0 0%;
      position: relative;
      input.buscador {
        color: #C4C4C4;
        position: absolute;
        right: 1rem;
        top: 3rem;
        border-radius: 6px;
        border: solid 1px #C4C4C4;
        padding: .3rem;
        min-width: 17em;
      }
    }
    .titulo {
      margin-top: 2rem;
      margin-bottom:2rem;
      flex: 1 0 0%;
      h5 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 2.5em;
        line-height: 1.2em;
        letter-spacing: 0.165em;
        color: #414C69;
      }
    }
    .table {
      border-color: #F2F5FA;
      text-align: center;
      thead {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.035em;
        color: #5D6B73;
        tr {
          th {
            background-color: white;
            border-top: none;
            border-bottom: solid 3px #F2F5FA;
            padding: 1rem 0.75rem;
            vertical-align: middle;
            &:nth-of-type(1) {
              border-radius: 1rem 0 0 1rem;
            }
            &:last-of-type {
              border-radius:  0 1rem 1rem 0;
              padding-right: 1em;
            }
          }
        }
      }
      tbody {
        tr {
          &:nth-of-type(1) {
            th {
              border-top: solid 3px #E5E5E5;
              padding-top: 1rem;
              background-color: white;
              &:nth-of-type(1) {
                border-radius: 1rem 0 0 0;
              }
            }
            td {
              background-color: white;
              border-top: solid 3px #E5E5E5;
              padding-top: 1rem;
              &:last-of-type {
              border-radius: 0 1rem 0 0;
              padding-right: 1em;
              }
            }
          }
          th {
            background-color: white;

            .circle {
              background-color: #414C69;
              border-radius: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              color: white;
              height: 2rem;
              width: 2rem;
              margin-left: .8rem;
            }
          }
          td {
            background-color: white;
            font-family: Inter;
            font-size: 12px;
            font-weight: 400;
            line-height: 25px;
            letter-spacing: 0.05em;
            color: #68696E;
            text-align: left;
            &.iconos {
              .td-iconos {
              display: flex;
              justify-content: space-evenly;
              align-items: center;
                .fa {
                  font-size: 1.5rem !important;
                  display: flex;

                  &.fa-check-circle {
                    color: #B4EDDE;
                    background-color: green;
                    border-radius: 100%;
                    height: 19px;
                    width: 19px;
                    justify-content:center;
                    align-items: center;
                    margin-right: .5rem
                  }
                  &.fa-eye {
                    height: 19px;
                    color: #5D6B73;
                  }
                  &.fa-times-circle {
                    color: #F8C0CA;
                    background-color: red;
                    border-radius: 100%;
                    height: 19px;
                    width: 19px;
                    justify-content:center;
                    align-items: center;
                    margin-right: .5rem
                  }
                }
              }
            }
            &:first-of-type {
              font-family: 'Inter';
              font-style: normal;
              font-weight: 600;
              font-size: 12px;
              line-height: 25px;
              letter-spacing: 0.05em;
              color: #414C69;
            }
            &.pagada_verde {
              color: #03CC98;
            }
            &.rechazada_rojo {
              color: #FA3451;
            }
          }
          &:last-of-type {
            th {
              border-radius: 0 0 0 1rem;
            }
            td:last-of-type {
              border-radius: 0 0 1rem 0;
            }
          }
        }
      }
    }
  /* PAGER */
    .pagination {
      li.page-item {
        a.page-link {
          color: #C4C4C4;

          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 25px;
          padding: 3px 9px;
        }
        &.active {
          a.page-link {
            color: #3A3A3A;
            background-color: white;
            border-color: #C4C4C4;

            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 25px;
            padding: 3px 9px;
          }
        }
      }
    }
  }
}

.estados_factura {
display: flex;
justify-content: end;
margin: 2em 2em 2em 2em;
bottom: 0;
right: 0;
flex-wrap: wrap;
padding: 1em;
.icono_factura {
  display:flex;
  margin-right: 2.5rem;
  .fa {
    color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 22px;
    width: 22px;
    margin-right: .5rem;
  }
  p {
    color:#414C69;
    padding-top: .15rem;
  }
  &.pagada {
    .fa {
      background-color: #02CE99;
      font-size: .8rem !important;
    }
  }
  &.revision{
    .fa {
      background-color: #FFE600;
      font-size: 1.2rem !important;
    }
  }
  &.aprobada {
    .fa {
      background-color: #02CE99;
      font-size: .7rem !important;
    }
  }
  &.rechazada, &.cedida {
    .fa {
      background-color: #FA3451;
      font-size: 0.8rem !important;
    }
  }
  &.xml {
    position: relative !important;
    .fa {
      color: #FA3451;
      font-size: 1.6rem !important;
      margin-right: 1rem;
    }
    span.xml {
      background-color: #FA3451;
      color: white;
      height: .8rem;
      font-size: .4rem;
      padding: .08rem 0.13rem;
      border-radius: .1rem;
      position: absolute;
      right: 1.8rem;
      top: -.2rem;
      }
    }
  }
}


/* MODAL */

  .modal-dialog {
    min-width: 45%;
    .modal-content {
      border-radius: .7rem;
      padding: 1rem 2rem;
      .modal-header {
        color: #091980;
        border-bottom: none;
      }
      .modal-body {
        color: #5D6B73;
        .container-fluid_m {
          .titulo-body-m {
            margin-bottom: .5rem;
            }
              .texto-body-m {
                border: solid 2px #E5E5E5;
                border-radius: .5rem;
                display: flex;
                justify-content: start;
                align-items: center;
                margin-bottom: 1.5rem;
                p {
                  margin: unset;
                  padding: 0.5rem;
                }
                &.pagada {
                  display: flex;
                  justify-content: space-between;
                  background-color: #B4EDDE;
                  border-color:#EAEEF9;
                  font-weight: 700;
                  .fa {
                    color: #03CC98;
                    margin-right: 1rem;
                  }
                }
              }

        }
      }
      .modal-footer {
        border-top: none;
        button {
          &.volver {
            color: #5D6B73;
            background-color: #D7E0FF;
            border-color: #EAEEF9;
          }
        }
      }
    }
  }



  /* NOVEDADES */
.container_novedades {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1.8rem;
  padding: 2rem 4.5rem 10rem 4.5rem;
  .card_novedades {
    display: flex;
    flex-direction: column;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    width: 100%;
    border-radius: 1.1rem;
    background-color: white;
    .card_novedades_imagen {
      height: 200px;
      border-radius: 1.1rem;
      overflow: hidden;
      img {
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
    .card_novedades_texto {
      padding: 2.5rem 1.5rem;
      .card_novedades_texto__titulo {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 25px;
        letter-spacing: 0.075em;
        color: #414C69;
        margin-bottom: 1rem;
      }
      .card_novedades_texto__texto {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 25px;
        text-align: justify;
        letter-spacing: 0.025em;
        color: #414C69;
        margin-bottom: 1rem;
      }
      a.leer_mas {
        font-family: Inter;
        font-size: 15px;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 0.165em;
        text-align: left;
        color: #414C69;
      }
    }
  }
}
 /* BOTONES FLOTANTES */
 .botones_flotantes {
    position: fixed;
    bottom: 3rem;
    right: 0%;
    display: flex;
    justify-content: center;
    .boton {
      margin: 0 2.2rem;
      .fa {
        border-radius: 100%;
        color: white;
        height: 4.6rem;
        width: 4.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
      }
      &.pronto_pago {
        .fa {
          background-color: #02CE99;
          font-size: 2.3rem;
        }
       }
      &.mesa_ayuda {
        .fa {
          background-color:  #336CFB;
          font-size: 3rem;
          .signo_pregunta {
            .fa {
              &.fa-question {
                position: absolute;
                font-size: 1rem;
                background-color: transparent;
                right: 0.4rem;
                top: -.3rem;
              }
            }
          }
        }
       }
     &.manuales_guias {
      .fa {
        background-color: #02CECE;
        font-size: 2.5rem;
        position: relative;
      }
     }
    }
 }
  .container_novedad {
    padding: 0rem 4rem 15rem 4rem;
    .novedad {
      .novedad_imagen {
        width: 100%;
        height: 16rem;
        overflow: hidden;
        border-radius: 1.1rem;
        margin-bottom: 4rem;
        img {
          width: 100%;
          background-position: center;
          background-size: contain;
        }
      }
      .novedad_texto {
        .novedaded_texto__titulo {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 700;
          font-size: 1.9rem;
          line-height: 2.5rem;
          letter-spacing: 0.075em;
          color: #414C69;
          margin-bottom: 2rem;
        }
        .novedaded_texto__bajada {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 300;
          font-size: 18px;
          line-height: 1.5rem;
          letter-spacing: 0.025em;
          color: #414C69;
          margin-bottom: 4rem;
        }
        .novedad_texto__texto {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          text-align: justify;
          letter-spacing: 0.025em;
          color: #414C69;
          line-height: 1.5em;
        }
      }
    }
  }
/* PAGINA MESA AYUDA*/
.container_mesa_ayuda {
  padding: 1rem 3rem;
  .titulo {
    margin-bottom:5rem;
    h5 {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 25px;
      letter-spacing: 0.165em;
      color: #414C69;
    }
  }
  p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #414C69;
  }
  .form-mesa-ayuda {
    max-width: 20em;
    min-width: 19em;

  }
}
.card-secundaria {
  padding: 2rem 3rem;
  .form-group {
    p {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0.01em;
      color: #414C69;
    }
    .form-control {
      margin-bottom: 2rem;
      min-height: 10rem;
      display: flex;
      align-items: center;
      color: #757575;
      padding-top: 2rem;
      max-width: 40em;
      min-width: 19em;
    }
  }
}
.tipo_ayuda {
	display: none;
  .card-secundaria {
    padding: 2rem 4.5rem;
    .form-group {
      p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.01em;
        color: #414C69;
      }
      .form-control {
        margin-bottom: 2rem;
        height: 10rem;
        display: flex;
        align-items: center;
        color: #757575;
        padding-top: 2rem;
      }
    }
  }
  .cancelar {
    background-color: #FA3451;
    width: 8rem;
    border: none;
    cursor: all-scroll;
    &:hover {
      background-color: #FA3451;
    }
  }
  .enviar {
    background-color: #03CC98;
    width: 8rem;
    border: none;
    cursor: all-scroll;
    &:hover {
      background-color: #03CC98;
    }
  }
}

p.mas_info {
  margin-left: 3rem;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.01em;
  color: #414C69;
  a.rojo {
    color: #FA3451;
  }
}

/* FORMULARIO AYUDA */
.container_mesa_ayuda {
  form {
   .form-row {

   }
   .cancelar {
    background-color: #FA3451;
    width: 8rem;
    border: none;
    cursor: all-scroll;
    &:hover {
      background-color: #FA3451;
    }
  }
  .enviar {
    background-color: #03CC98;
    width: 8rem;
    border: none;
    cursor: all-scroll;
    &:hover {
      background-color: #03CC98;
    }
  }
  }
 }

 /* NOVEDADES */
 .user-login {
  &.display_flex {
    .collapse {
      &.navbar-collapse {
        display: flex;
      }
    }
  }
}




/*tooltips*/


/* START TOOLTIP STYLES */
[tooltip] {
  position: relative; /* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
  text-transform: none; /* opinion 2 */
  font-size: .9em; /* opinion 3 */
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[tooltip]::before {
  content: '';
  border: 5px solid transparent; /* opinion 4 */
  z-index: 1001; /* absurdity 1 */
}
[tooltip]::after {
  content: attr(tooltip); /* magic! */

  /* most of the rest of this is opinion */

  text-align: center;

  /*
    Let the content set the size of the tooltips
    but this will also keep them from being obnoxious
    */
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1em 1.5em;
  border-radius: .3ch;
  /*box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);*/
  background: rgb(255, 255, 255);
  color: #484848;
  z-index: 1000; /* absurdity 2 */
  border-radius: 12px;
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}

/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #333;
}
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
  bottom: calc(100% + 5px);
}
[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
  left: 50%;
  transform: translate(-50%, -.5em);
}

/* FLOW: DOWN */
[tooltip][flow^="down"]::before {
  top: calc(100% + .4em);
  border-top-width: 0;
  border-bottom-color: rgb(255, 255, 255);
}
[tooltip][flow^="down"]::after {
  top: calc(100% + .8em);
}
[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
  left: 50%;
  transform: translate(-50%, .5em);
}

/* FLOW: LEFT */
[tooltip][flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #333;
  left: calc(0em - 5px);
  transform: translate(-.5em, -50%);
}
[tooltip][flow^="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-.5em, -50%);
}

/* FLOW: RIGHT */
[tooltip][flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #333;
  right: calc(0em - 5px);
  transform: translate(.5em, -50%);
}
[tooltip][flow^="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(.5em, -50%);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}


//media queries

@media screen and (max-width: 767px) {
  .border-right {
    &::after {
    display: none;
    }
  }
  .container_novedades {
    padding: 0 1rem 15rem 1rem;
  }
  .container_novedad {
    padding: 0rem 3rem 15rem 3rem !important;
  }
  .tabla_facturas {
    margin-right: 2em;
    .container-fluid {
      flex-direction: column;
      padding-right: 0;
      padding-left: 0;
      --bs-gutter-x: 0rem;
      .titulo {
        width: 100%;
        margin-bottom: 1rem;
      }
      .buscador {
        width: 100%;
        margin-bottom: 1rem;
        input.buscador {
          position: unset;
          right: unset;
          top: unset;
        }
      }
    }
    .estados_factura {
      margin: 0;
    }
  }
}



@media screen and (max-width: 690px) {
  .modal-dialog {
    max-width: 99vw;
  }
  .container_novedades {
    padding: 0 1rem 15rem 1rem;
  }
  .container_novedad {
    padding: 0rem 3rem 15rem 3rem !important;
    .novedad {
      .novedad_imagen {
        height: unset;
      }
    }
  }
  .border-right {
    &::after {
    display: none;
    }
  }
}


/*tamaño intermedio*/
@media screen and (max-width: 576px) {
  .header {
    margin-bottom: 2em;
    .iso {
      display: none !important;
    }
    .navbar {
      padding-left: 0;
      padding-top: 1em;
    }
    .navbar-collapse {
      padding-right: 0 !important;
    }
  }
  .sidebar {
    display: flex;
    flex-direction: row !important;
    position: unset;
    padding: 0px;
    max-width: unset;
    width: 100%;
    .collapse-sidebar-button {
      display: none;
    }
    .sidebar-collapsed {
      width: 100% !important;
      .collapse-sidebar-button {
        margin: 0em auto !important;
        position: relative;
        left: unset;
      }
    }
    .nav-sidebar {
      flex-direction: row !important;
      flex-wrap: unset;
      display: none;
    }
  }

  .main {
    margin-left: unset;
    padding-right: unset;
    padding-left: unset;
  }
  .container_mesa_ayuda {
    padding: 0rem 1rem;
    .form-mesa-ayuda {
      max-width: 32em;
    }
  }
  .card-secundaria {
    padding: 2rem 1rem;
  }
  p.mas_info {
    margin-left: 1rem;
  }
  .tipo_ayuda .card-secundaria {
    padding: 2rem 1rem;
  }
  .botones_flotantes {
    position: unset !important;
    margin: 0 auto;
    align-content: middle;
    text-align: center;
    justify-content: center;
    width: 95%;
    margin: 5px;
    margin-top: 4em;
    bottom: unset !important;
    .boton {
      .fa {
        width: 3.6rem;
        height: 3.6rem;
        font-size: 2rem;
      }
    }
    .mesa_ayuda {
      margin: unset;
    }
  }
}

/*celulares*/
@media screen and (max-width: 480px) {
  .header {
    .iso {
      display: none !important;
    }
  }
}
